<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Dashboard</title>
    <style>
        /* Custom styles */
        body {
            display: flex;
            font-family: Arial, sans-serif;
        }

        .sidebar {
            width: 200px;
            background-color: #f8f9fa;
            padding: 20px;
        }

        .sidebar h3 {
            margin-top: 0;
        }

        .sidebar ul {
            padding: 0;
            list-style-type: none;
        }

        .sidebar li {
            margin-bottom: 10px;
        }

        .sidebar a {
            text-decoration: none;
            color: #007bff;
            display: block;
        }

        .sidebar a:hover {
            font-weight: bold;
            color: #0056b3;
        }

        .content {
            flex: 1;
            padding: 20px;
        }

        .job-card {
            background-color: #f8f9fa;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .job-card h3 {
            margin: 0;
            font-size: 20px;
            color: #007bff;
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <h3>Employer Dashboard</h3>
        <ul>
            <li><a href="/employer/profile">Profile</a></li>
            <li><a href="/employer/postJob">Post Job</a></li>
            <li><a href="/employer/settings">Settings</a></li>
            <li><a href="/employer/job-applications">Application Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

    <div class="content">
        <!-- Inside dashboard.hbs -->
        <h1>Welcome, {{employer.firstName}}!</h1>
        <h2>Job Listings:</h2>
        {{#if jobListings.length}}
        <div id="job-cards">
            {{#each jobListings}}
            <a href="/employer/job-post?id={{this._id}}" class="job-card-link">
                <div class="job-card">
                    <h3>{{jobTitle}}</h3>
                    <p class="description">{{jobType}}</p>
                </div>
            </a>
            {{/each}}
        </div>
        {{else}}
        <p>No job postings found.</p>
        {{/if}}
    </div>

</body>

</html>