<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Dashboard</title>
    <style>
        /* Custom styles */
        body {
            display: flex;
            font-family: Arial, sans-serif;
        }

        .sidebar {
            width: 200px;
            background-color: #f1f1f1;
            padding: 20px;
        }

        .content {
            flex: 1;
            padding: 20px;
        }

        .sidebar h3 {
            margin-top: 0;
        }

        .sidebar ul {
            padding: 0;
            list-style-type: none;
        }

        .sidebar li {
            margin-bottom: 10px;
        }

        .sidebar a {
            text-decoration: none;
        }

        .sidebar a:hover {
            font-weight: bold;
        }

        .job-card {
            background-color: #f9f9f9;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .job-card h3 {
            margin: 0;
            font-size: 20px;
        }

        .job-card p {
            margin: 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            /* Added for proper word wrapping */
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <h3>Employer Dashboard</h3>
        <ul>
            <li><a href="/employer/profile">Profile</a></li>
            <li><a href="/employer/postJob">Post Job</a></li>
            <li><a href="/employer/settings">Settings</a></li>
            
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

    <div class="content">
        <!-- Inside dashboard.hbs -->
<h1>Welcome, {{employer.firstName}}!</h1>
<h2>Job Listings:</h2>
{{#if jobListings.length}}
<ul>
    {{#each jobListings}}
    <li>
        <h3>{{jobTitle}}</h3>
        <p class="description">{{jobType}}</p>
        <p class="description">{{{stripHtmlTags jobDescription}}}</p> <!-- Use triple mustache to render unescaped HTML -->
    </li>
    {{/each}}
</ul>
{{else}}
<p>No job postings found.</p>
{{/if}}

    </div>

</body>

</html>